@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; 
  padding: 0 15px;
  box-sizing: border-box; 
}

@media (min-width: 1024px) { 
  .container {
    padding: 0 30px;
  }

  h1 {
    font-size: 40px; 
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 90%;
    margin: 0 auto; 
  }
}

@media (max-width: 768px) {
  img {
    max-width: 80%;
    margin: 10px auto;
  }
}

@media (max-width: 640px) { 
  .container {
    padding: 0 10px;
  }

  h1 {
    font-size: 24px; 
  }

  p {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  img {
    max-width: 70%; 
    margin: 15px auto;
  }
}

@media (max-width: 320px) {
  img {
    max-width: 100%;
    margin: 20px auto;
  }
}
